
@{
    ViewData["Title"] = "ViewBagObject";
}

<h1>Default1 :: ViewBagObject</h1>
<br />
<div>My DynamicData Id = @ViewBag.sendDynamicData.id</div>
<div>My DynamicData String Value = @ViewBag.sendDynamicData.stringValue</div>
<br />
<div>My User Age = @ViewBag.sendUser.age</div>
<div>My User First Name = @ViewBag.sendUser.firstName</div>
<div>My User Last Name = @ViewBag.sendUser.lastName</div>

